# Caso de Estudio "Yapo"

---

__PARTE PRÁCTICA__

In [2]:
import mysql.connector
db_connection = mysql.connector.connect(user="root",host="localhost",password="#Sombrita2019")
cursor = db_connection.cursor()
cursor.execute("USE Yapo")

### Pregunta 5: Consultas SQL

__5.1__ ¿Cuál es el precio promedio de los anuncios por categoría?

In [3]:
import pandas as pd
from pandas import DataFrame

In [4]:
sql = "SELECT categoria AS CATEGORÍA, avg(precio) as 'PROMEDIO($)' FROM anuncio WHERE moneda=\"$\" GROUP BY categoria ORDER BY avg(precio) DESC;"
cursor.execute(sql)
dataframe = DataFrame(cursor.fetchall())
dataframe.columns = cursor.column_names
dataframe

                                    CATEGORÍA     PROMEDIO($)
0                             Vendo - Oficina  750030000.0000
1              Vendo - Comercial e industrial  185662500.0000
2                          Arriendo - Terreno  150910000.0000
3                                Vendo - Casa  141921544.1176
4                             Vendo - Terreno  117165084.7458
5                        Vendo - Departamento   80354326.0870
6      Vendo - Estacionamiento, bodega u otro   61500000.0000
7                     Autos, camionetas y 4x4   16112245.2669
8                   Barcos, lanchas y aviones   10860766.6667
9                  Buses, camiones y furgones    8055454.5455
10                            Otros vehículos    6584857.1429
11                                      Motos    3403750.0000
12          Arriendo - Comercial e industrial     833766.6667
13        Negocios, maquinaria y construcción     687797.1244
14                            Arriendo - Casa     555423.7288
15  Arriendo - Estacionamiento, bodega u otro     424381.8182
16                          Ofertas de empleo     357000.0000
17                    Arriendo - Departamento     350897.6651
18                         Arriendo - Oficina     260000.0000
19                  Computadores y accesorios     249383.2143
20                  Animales y sus accesorios     231020.9211
21        Instrumentos musicales y accesorios     177875.1020
22                                    Muebles     155010.3586
23                           Arriendo - Pieza     131581.8182
24          Bicicletas, ciclismo y accesorios     128829.1463
25          Celulares, teléfonos y accesorios     113532.0072
26           Arte, antigüedades y colecciones      98084.1270
27         Consolas, videojuegos y accesorios      97858.4451
28                          Electrodomésticos      91226.9231
29              Audio, TV, video y fotografía      86717.6774
30         Accesorios y piezas para vehículos      67298.1502
31          Jardín, herramientas y exteriores      65171.2632
32                          Hobbies y outdoor      64786.7213
33                            Salud y belleza      61491.6084
34                                  Servicios      57588.6598
35            Deportes, gimnasia y accesorios      55358.7097
36       Arriendo de temporada - Departamento      53333.3333
37                                   Juguetes      46410.2941
38                          Libros y revistas      34567.9226
39              Coches y artículos infantiles      33062.9577
40                                    Calzado      27502.0000
41             Bolsos, bisutería y accesorios      25774.7374
42                  Otros artículos del hogar      23968.6538
43                           Moda y vestuario      23733.2639
44            Música y películas (DVDs, etc.)      18275.6897
45              Vestuario futura mamá y niños       8343.3824
46                            Otros productos       8075.8974

---

__5.2__ ¿Cuál es el número de anuncios por vendedor?

In [5]:
sql = "SELECT nombre AS VENDEDOR , count(*) as CANT_ANUNCIOS FROM vendedor JOIN anuncio USING(id_vendedor) GROUP BY id_vendedor ORDER BY count(*) DESC;"
cursor.execute(sql)
dataframe = DataFrame(cursor.fetchall())
dataframe.columns = cursor.column_names
dataframe

                                 VENDEDOR  CANT_ANUNCIOS
0     Fernando patricio vergara gutierrez            100
1                         Leonardo rincon             74
2                  DesarmaduriaSotoMayor2             72
3                                 Esteban             59
4                                 Ximena              46
...                                   ...            ...
1999                        yoreparochile              1
2000                                  Ypo              1
2001                          yulo.matias              1
2002                                Zaida              1
2003              Zvonimir Lucic González              1

[2004 rows x 2 columns]

---

__5.3:__ Insertar una columna __Perfil__ en la tabla Vendedor. Los Vendedores que publicaron más de 5 
anuncios en el último día, tienen un perfil __Pro__, los otros se consideran __Personal__.

---

__5.4__ ¿Cuál es el precio promedio de los anuncios según el día de la semana (lunes, martes, miercoles, etc.)?

In [6]:
sql = "SELECT DAYNAME(fecha_publicacion) AS DÍA, avg(precio) AS 'PROMEDIO($)' FROM anuncio  WHERE moneda=\"$\" GROUP BY DÍA ORDER BY DÍA, avg(precio) DESC;"
cursor.execute(sql)
dataframe = DataFrame(cursor.fetchall())
dataframe.columns = cursor.column_names
dataframe

        DÍA    PROMEDIO($)
0    Friday  22901486.9537
1  Thursday   6653958.9281

*  Precio promedio de los anuncios según el día de la semana por __categoría:__

In [16]:
sql = "SELECT categoria AS CATEGORÍA, DAYNAME(fecha_publicacion) AS DÍA, avg(precio) AS 'PROMEDIO($)' FROM anuncio  WHERE moneda=\"$\" GROUP BY DÍA,categoria ORDER BY DÍA, avg(precio) DESC;"
cursor.execute(sql)
dataframe = DataFrame(cursor.fetchall())
dataframe.columns = cursor.column_names
dataframe

                                 CATEGORÍA       DÍA     PROMEDIO($)
0                             Vendo - Casa    Friday  318278333.3333
1                          Vendo - Terreno    Friday  282248571.4286
2           Vendo - Comercial e industrial    Friday  192500000.0000
3                     Vendo - Departamento    Friday  109566583.3333
4   Vendo - Estacionamiento, bodega u otro    Friday  100000000.0000
..                                     ...       ...             ...
82          Bolsos, bisutería y accesorios  Thursday      23513.1868
83               Otros artículos del hogar  Thursday      23108.8947
84         Música y películas (DVDs, etc.)  Thursday      18302.5688
85           Vestuario futura mamá y niños  Thursday       8218.8525
86                         Otros productos  Thursday       7471.1111

[87 rows x 3 columns]

---

### Pregunta 6

Implementar un script Python para visualizar la distribución de los precios en la categoría __Arriendo - Departamento__

sql  = select url,titulo,precio from anuncio where moneda = \"$\" and categoria = \"Arriendo - Departamento\" order by precio DESC

In [30]:
sql = "SELECT titulo AS 'TÍTULO ANUNCIO', precio AS 'PRECIO($)' from anuncio WHERE moneda = '$'  and categoria='Arriendo - Departamento' ORDER BY precio DESC ;"
cursor.execute(sql)
dataframe = DataFrame(cursor.fetchall())
dataframe.columns = cursor.column_names
dataframe

                                        TÍTULO ANUNCIO  PRECIO($)
0         DEPARTAMENTO San Francisco de Asís/ Charles…    2500000
1             DEPARTAMENTO DEHESA CENTRAL Lo Barnechea    1100000
2             DEPARTAMENTO DEHESA CENTRAL Lo Barnechea    1100000
3                                Vitacura - lo beltran    1050000
4         DEPARTAMENTO Espectacular vista al mar - Se…     800000
..                                                 ...        ...
210  DEPARTAMENTO TIPO ESTUDIO,1D+1B,Quinta Normal(...     158000
211  DEPARTAMENTO TIPO ESTUDIO,1D+1B,Quinta Normal(...     158000
212         Catedral 1289, Depto. 1215, 1D+1B, Piso 12     140000
213         Catedral 1289, Depto. 1215, 1D+1B, Piso 12     140000
214         Catedral 1289, Depto. 1215, 1D+1B, Piso 12     140000

[215 rows x 2 columns]

In [31]:
import numpy as np
import seaborn as sns